.ProfileInfo{
    width: 100%;
}
.ProfileInfo>div>textarea {
    height: 200px;
}
.infoForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}