.ProfileContainer{
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    /* gap: 1rem; */
    overflow-x: clip;
    background: var(--cardColor);
    flex: 2;
    margin-top: 0.5em;
}

.navIcons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}


.navIcons>img{
    width: 1.5rem;
    height: 1.5rem;
}


.r-button{
    height: 3rem;
    width: 80%;
    align-self: center;
}
