.PostContainer {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: clip;
    background: var(--cardColor);
    flex: 2;
    margin-top: 0.5em;
    width: 100%;
    /* padding: 15px; */
}