.Footer{
    align-items: center;
    /* align-content: end; */
    margin-top: 3em;
    gap: 1em;

}
.footer-container{ 
    border: 1px solid var(--blue);
    border-radius: 5px;
    
    /* padding: 5px; */
}


.footer-scoll {
    max-height: 170px;
    min-height: 170px;
    overflow-x: scroll;
}
.footer-copy {
    margin-top: 0.5em;
    text-align: center;
}