.Skill {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    gap: 0.5em;
    overflow-x: clip;
    background: var(--cardColor);
    margin-top: 0.5em;
    padding: 15px;
}
.Skill img {
    width: 100px;
    height: 100px;
    align-items: center;
}